.container[role="riding"]{
	
	float:left;
	width:500px;
	
	margin:50px 0px 0px 140px ;
}
.container[role="offering"]{
	
	float:right;
	width:500px;
	margin:50px 140px 0px 0px ;
}
.jumbotron{
	height:300px;
}
#title{
	text-align: center;
	color:green;
	font-size: 50px;
	margin-top: 10px;
}
.results{
	display: inline-block;
	border: 2px solid black;
	float:left;
	clear:left;
	margin-top: 25px;
	display: block;
	padding:20px;
	width:800px;
	margin-left: 20%;
	
}
.buttonholder{
	text-align: center;
}
.btn{
	margin-left: 4px;
}
#logo{
	width:50px;
	height:50px;
}

#opener{
	font-size: 20px;
}
.contents{
	margin: 50px 0px 0px 100px;
}
.imagetxt{
	float:left;
	clear:left;
	display: block;
	margin-top: 25px;
}
.cap{
	width:100px;
	height:100px;
	float:left;
	vertical-align: middle;
	display: inline-block;
	margin-left: 20px
}
.car{
	width:150px;
	height:50px;
	float:left;
	vertical-align: middle;
	display: inline-block;
	padding-right: 50px;
	margin-left:20px;
}
.mix{
	width:75px;
	height:75px;
	float:left;
	padding-top: 10px;
	vertical-align: middle;
	display: inline-block;
	
}
.text1{
	margin-left: 50px;
	float:left;
	padding-top: 30px;
}
.text2{
	margin-left: 2px;
	float:left;
	padding-top: 10px;
}
.text3{
	margin-left: 22px;
	float:left;
	padding-top: 30px;
}
#create{
	float:right;
	margin-right: 580px;
}
.center_div{
	margin: 0 auto;
	width:60%;
}
.fa{
	margin-top: 8px;
	margin-right: 10px;
}
.History{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.HistoryForm {
	display: block;
    margin-left: auto;
    margin-right: auto;
   	width: 7in;
	height: 5in;
  	background-color: GhostWhite;
	border: 3px solid grey;
}
.Type {
    font-family: "fantasy", Impact, serif;
    margin-top: 2em;
    color: black;
    font-size: 75%;
}
form {
	border: 30px solid GhostWhite;
	background-color: GhostWhite;
	color: GhostWhite;
}
div.box{
	font-size: 300px;
}


.loginbody {
	height: 100%;
  }
  
.loginbody {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
  }
  .loginbody .error {
	  color:red;
	  font-size: 1em;
	  font-style: italic;
	  margin: 1px;
  }

.form-signin {
	width:100%;
	max-width: 430px;
	padding: 15px;
	margin:auto;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
  }
  .form-signin .form-control:focus {
	z-index: 2;
  }
  /* .form-signin input {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  } */
  .form-signin input{
	margin-bottom: 10px;
	/* border-top-left-radius: 0;
	border-top-right-radius: 0; */
  }